footer {
  display: flex;
  width: 100%;
  height: 100%;
  background: @gradient;
  padding: 5vh 0;
}

.title-footer {
  display: flex;
  font-family: Gilroy Semibold;
  text-align: center;
  color: @black-light2;
}

.infoFooter{
 
  font-family: Gilroy Semibold;
  h3{
    color: @black-light2;
    
    i{
        margin-right: 10px;
    }
  }
}
