.banner[portfolio] {
  display: flex;
  width: 100%;
  height: 100%;
  background: @black-light1;
  padding: 5vh 0;
}

.experience {
  h3 {
    font-family: Gilroy Medium;
    background: @white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &:hover {
      background: @w-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.listItem {
    display: flex;
    align-items: center;
    justify-content: center;
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vh;
    height: 40vh;
    .imageView {
      display: flex;
      justify-content: center;
    //   width: 90%;
      height: 100%;
      box-shadow: 5px 5px 20px rgba(69, 69, 69, 0.811);
      image {
        display: flex;
        width: 100%;
        height: 100%;
        
      }
    }
  }
}
