.banner[portfolio] {
  display: flex;
  width: 100%;
  height: 100%;
  background: @black-light1;
  padding: 5vh 0;
  overflow: hidden;
}

.experience {
  h3 {
    font-family: Gilroy Medium;
    background: @white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &:hover {
      background: @w-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.listItem {
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    // height: 450px;
    // background: red;
    .imageView {
      display: flex;
      align-items: center;
      justify-content: center;
    //   background: rgb(21, 72, 72);
    //   width: 50%;
    //   height: 50%;
      //   box-shadow: 5px 5px 20px rgba(69, 69, 69, 0.811);
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
